body {
  margin:0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
 
}

p{
  font-size: 20px;
  font-weight: bold;
  
  
}

a {
  color: #00B7FF;
}

header{
  background-color: rgb(0, 128, 90);
  color:white;
  padding: 10px
}
nav ul{
  
  list-style-type: none;
 
}

nav ul li{
  margin-right: 10px;
  margin-top: 10px;
  font-weight: bold;
}

.headerClass{
  display: flex;
  flex-direction: column;
  text-align: center;

}

footer{
  padding-top: 100px;
  text-align: center;
}
